.container {
  line-height: 3rem;
  height: 100%;
  width: 100%;
}
.p {
  line-height: 3rem;
  font-size: 1.5rem;
  color: rgb(31, 121, 173);
  background: cover;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}
