html, body {
  font-family: "Roboto", sans-serif;
 

}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

.icons-social i {
  font-size: 3em;
}

/* Custom Styles */

.Home {
  display: flex;
  flex-direction: column;
	min-height: 100vh;
  justify-content: center;
	padding: 0;
	margin: 0; 
  text-align: center;
  background: #a73737;

  background-repeat: no-repeat;
 color: rgb(255, 255, 255, 0.6);
}

.Home > .intro {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75em;
  font-weight: 600;
}

.Home > .tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
}

.icons-social a {
  color: #fafafa;
}

.icons-social a svg path {
  fill: #fafafa;
}

.icons-social i {
  padding: 10px;
}
.icons-social :hover {
  color: lightgrey;
}

.devto {
  margin-bottom: -0.2rem;
}

.devto svg {
  margin-bottom: -0.2rem;
  margin-left: 0.675rem;
  width: 2.65rem;
  height: 2.65rem;
}
